name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby: ["2.5", "2.6", "2.7"]
    steps:

    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: RuboCop
      run: bundle exec rubocop

    - name: Tests
      run: bundle exec rspec
